In [22]:
import numpy as np;
import pandas as pd;
import matplotlib.pyplot as plt;
df=pd.read_csv('./supershops.csv')
print(df.head(21));
print(df.tail(10));
print(df.iloc[2]);
print(df.iloc[3]);

'''Pandas -Select Multiple Columns'''
x=df[['Marketing Spend']]
y=df['Area'];
print(x);
# end match
data1={
    "Id":[1,2,3,4,5,6],
    "Student":["A","B","C","D","E","F"],
    "Rank":[1,2,3,4,5,6],
    "Marks":[60,70,80,90,100,110],
    "Roll":[201905005,2019005006,2019005007,2019005008,2019005009,20190050010],
}
df1=pd.DataFrame(data1);
print(df1[['Student','Rank']])

##Multiple column in a range
'''Start from 3hours to 5 hours'''

    Marketing Spend  Administration  Transport     Area     Profit
0         114523.61       136897.80  471784.10    Dhaka  192261.83
1         162597.70       151377.59  443898.53      Ctg  191792.06
2         153441.51       101145.55  407934.54  Rangpur  191050.39
3         144372.41       118671.85  383199.62    Dhaka  182901.99
4         142107.34        91391.77  366168.42  Rangpur  166187.94
5         131876.90        99814.71  362861.36    Dhaka  156991.12
6         134615.46       147198.87  127716.82      Ctg  156122.51
7         130298.13       145530.06  323876.68  Rangpur  155752.60
8         120542.52       148718.95  311613.29    Dhaka  152211.77
9         123334.88       108679.17  304981.62      Ctg  149759.96
10        101913.08       110594.11  229160.95  Rangpur  146121.95
11        100671.96        91790.61  249744.55      Ctg  144259.40
12         93863.75       127320.38  249839.44  Rangpur  141585.52
13         91992.39       135495.07  252664.93      Ctg  134307.35
14        119943.24       156547.42  256512.92  Rangpur  132602.65
15        165349.20       122616.84  261776.23    Dhaka  129917.04
16         78013.11       121597.55  264346.06      Ctg  126992.93
17         94657.16       145077.58  282574.31    Dhaka  125370.37
18         91749.16       114175.79  294919.57  Rangpur  124266.90
19         86419.70       153514.11        NaN    Dhaka  122776.86
20         76253.86       113867.30  298664.47      Ctg  118474.03
    Marketing Spend  Administration  Transport     Area    Profit
40         28754.33       118546.05  172795.67      Ctg  78239.91
41         27892.92        84710.77  164470.71  Rangpur  77798.83
42         23640.93        96189.63  148001.11      Ctg  71498.49
43         15505.73       127382.30   35534.17    Dhaka  69758.98
44         22177.74       154806.14   28334.72      Ctg  65200.33
45          1000.23       124153.04    1903.93    Dhaka  64926.08
46          1315.46       115816.21  297114.46  Rangpur  49490.75
47             0.00       135426.92       0.00      Ctg  42559.73
48           542.05        51743.15       0.00    Dhaka  35673.41
49             0.00       116983.80   45173.06      Ctg  14681.40
Marketing Spend    153441.51
Administration     101145.55
Transport          407934.54
Area                 Rangpur
Profit             191050.39
Name: 2, dtype: object
Marketing Spend    144372.41
Administration     118671.85
Transport          383199.62
Area                   Dhaka
Profit             182901.99
Name: 3, dtype: object
    Marketing Spend
0         114523.61
1         162597.70
2         153441.51
3         144372.41
4         142107.34
5         131876.90
6         134615.46
7         130298.13
8         120542.52
9         123334.88
10        101913.08
11        100671.96
12         93863.75
13         91992.39
14        119943.24
15        165349.20
16         78013.11
17         94657.16
18         91749.16
19         86419.70
20         76253.86
21         78389.47
22         73994.56
23         67532.53
24         77044.01
25         64664.71
26         75328.87
27         72107.60
28         66051.52
29         65605.48
30         61994.48
31         61136.38
32         63408.86
33         55493.95
34         46426.07
35         46014.02
36         28663.76
37         44069.95
38         20229.59
39         38558.51
40         28754.33
41         27892.92
42         23640.93
43         15505.73
44         22177.74
45          1000.23
46          1315.46
47             0.00
48           542.05
49             0.00
  Student  Rank
0       A     1
1       B     2
2       C     3
3       D     4
4       E     5
5       F     6

'Start from 3hours to 5 hours'